<% if @user.nil? %>
  <h2>No Messages</h2>
<% else %>
  <div class="list_message" id="list-messages-<%= @user.id %>">
    <img width="" height="" class="img_stle" src="/images/photo.png" />
    <div class="desc_message">
      <a href="#" class="hovertitle"><div class="name_msg"><%= link_to @user.email, message_path(@user.id), :remote => true %></div></a>
      <div class="date_msg"><%= @user.get_last_message(@user.id,current_user.id).created_at %></div>
      <div class="content_msg">
        <p><%= @user.get_last_message(@user.id,current_user.id).message.message %></p>
        <div class="opt_message">
          <%= link_to "", @user.get_last_message(@user.id,current_user.id).message , :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>"opt_2"  %>
          <%= link_to "", unread_message_path(@user.get_last_message(@user.id,current_user.id)), :method => :delete, :remote => true, :class=>"opt_1"  %>
        </div>
      </div>
    </div>
  </div>
<% end %>