<% @patients.each do |patient| %>
  <div>
    <div style="float:left;">
      <%= image_tag patient.avatar.url(:thumb) %>
    </div>
    <div style="float:left;">
      <div>
        <%= patient.name %> (<%= patient.age %>), <%= patient.description %>
      </div>
      <div>
        <%= patient.city %>, <%= patient.state %>
      </div>
      <div>
        <%= patient.visits %>
      </div>
      <div>
        Primary Contact: <%= patient.primary_contact.capitalize %>(<%= patient.relation %>),
        Preferred Contact: <%= patient.email %> or <%= patient.phone_number %>
      </div>
      <div>
        Most Recent Progress Notes :
      </div>
      <div>
        <%= link_to 'Show', patient %> |
        <%= link_to 'Edit', edit_patient_path(patient) %> |
        <%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
<% end %>
<div id="patients">
  <%=  link_to "More", patients_path(:page => @page), :remote => true%>
</div>