<% simple_form_for(@patient, :html => {:multipart => true, :class=> "yform"}) do |f| %>
  <fieldset>
    <legend>Add New</legend>
    <% if @patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

        <ul>
          <% @patient.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.input :visits %>
    <%= f.input :primary_contact %>
    <%= f.input :relation %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :avatar %>
    <%= f.submit %>
  </fieldset>
<% end %>


<%= link_to 'Back', patients_path %>
