<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "applayout", :media =>"all" %>
    <%= stylesheet_link_tag "token-input-facebook" %>
    <%= stylesheet_link_tag "token-input" %>
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "yaml/patches/patch_nav_vlist", :media =>"all" %>
    <![endif]-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" />
    <%= javascript_include_tag "jquery.min.js" %>
    <%= include_tiny_mce_if_needed %>
    <%= javascript_include_tag "rails" %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
    <%= javascript_include_tag "jquery.periodicalupdater.js" %>
    <%= javascript_include_tag "jquery.updater.js" %>
    <%= javascript_include_tag "jquery-show-popup.js" %>
    <%= javascript_include_tag "jquery.tokeninput.js" %>
    <%= javascript_include_tag "jquery.tipsy.js" %>
    <%= javascript_include_tag "detect_timezone.js" %>
    <%= javascript_include_tag "jquery.slideto.min.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag :ckeditor %>
    <%= yield :add_billing %>
    <% if current_user %>
      <script type="text/javascript">
        $.PeriodicalUpdater('/conversations/notifications', {
          method: 'get', // method; get or post
          data: '1', // array of values to be passed to the page - e.g. {name: "John", greeting: "hello"}
          minTimeout: 3000, // starting value for the timeout in milliseconds
          maxTimeout: 8000, // maximum length of time between requests
          multiplier: 2, // the amount to expand the timeout by if the response hasn't changed (up to maxTimeout)
          type: '', // response type - text, xml, json, etc. See $.ajax config options
          maxCalls: 0, // maximum number of calls. 0 = no limit.
          autoStop: 0 // automatically stop requests after this many returns of the same data. 0 = disabled.
        }, function(remoteData, success, xhr, handle) {
          // Process the new data (only called when there was a change)
        });
      </script>
    <% end %>
    <!-- embedded styles for dynamic layout options -->
    <style type="text/css">
      #js-info { display:block; padding: 10px 20px; background: #fee; color: #800; margin: 0 0 10px 0; }
      .js #js-info { display:none; }
    </style>
  </head>
  <body onload="calculate_time_zone()">
    <div class="page_margins">
      <div id="border-top">
        <div id="edge-tl"></div>
        <div id="edge-tr"></div>
      </div>
      <div class="page">
        <div id="header" role="banner">
          <div id="topnav" role="contentinfo">
            <span>
              <%= DateTime.now.strftime('%d %B %Y') %> | <a href="#">Help/FAQ</a> |
              <% if user_signed_in? %>
                Signed in as <%= link_to current_user.email, user_path(current_user) %> | <%= link_to "Sign out", destroy_user_session_path,:method=>:delete %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </span>
          </div>
          <h1>System Title</h1>
        </div>
        <div id="teaser">
        </div>
        <div id="main">
          <div id="col1">
            <div id="col1_content" class="clearfix">
              <h3>Left Pane contents</h3>
              <%= link_to "Patients", patients_path %> <br />
              <%= link_to "Billing Entites", billing_entities_path %> <br />
              <%= link_to "Whiteboard", posts_path %> <br />
              <%=h link_to "Messages <span id='notification-messages'></span>".html_safe, conversations_path %>
            </div>
          </div>
          <div id="col2">
            <div id="col2_content" class="clearfix">
              <div class="info">
                <h3>Right pane contents</h3>
              </div>
            </div>
          </div>
          <div id="col3">
            <div id="col3_content" class="clearfix">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
              <!-- Popup Content -->
              <div id="dialog-form" title="New Message">
                <div id="new-message" style="width: 488px;">
                </div>
              </div>
              <div id="new-category-post-form" title="New Category">
                <div id="new-category" style="width: 488px;">
                </div>
              </div>
              <!-- //Popup Content -->
            </div>
            <!-- IE Column Clearing -->
            <div id="ie_clearing"> &#160; </div>
          </div>
        </div>
        <!-- begin: #footer -->
        <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a>
        </div>
      </div>
      <div id="border-bottom">
        <div id="edge-bl"></div>
        <div id="edge-br"></div>
      </div>
    </div>
    <div>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag "jquery-ui.min.js"%>
    <%= javascript_include_tag "../stylesheets/yaml/add-ons/accessible-tabs/jquery.tabs.js" %>
    <%= javascript_include_tag "../stylesheets/yaml/add-ons/syncheight/jquery.syncheight.js" %>
    <%= javascript_include_tag "../stylesheets/yaml/core/js/yaml-focusfix.js" %>
    <%= javascript_include_tag "application"%>

  </body>
</html>

